<html>

<head>

</head>
<!-- head -->

<body>
    <div class="container-fluid py-0 px-0 my-0 mx-0">
        <div>
            <app-login-navbar></app-login-navbar>
        </div>
        <div>
            <!-- <div class="row justify-content-center">
                    <div class="col-sm-6">
                        <label class="" id="loginHeading">Login</label>
                    </div>
                </div> -->
            <!-- row -->
            <br />
            <div class="row justify-content-center">
                <div class="col-sm-6" id="verifyPasswordScreen">
                    <div class="col-sm-12" id="content-pad-col-1" style="text-align: center;">
                        <label id="loginHeading">Forgot Password?</label>
                    </div>
                    <!-- col -->
                    <br />
                    <div class="col-sm-12" style="text-align: center;">
                        <label style="font-size: 12px;font-weight: 490;">No Worries, we'll send you reset
                            instruction.</label>
                    </div>
                    <!-- col -->
                    <br />
                    <div class="row justify-content-center my-2">
                        <div id="emailDiv" class="col-sm-9">
                            <label id="emailLabel">Email Id</label>
                            <input type="email" [(ngModel)]="email" id="email" name="email" placeholder="Email Id" class="form-control"
                                (click)="setupEmailInputPlaceholder()" (keyup)="setUserEmail($event)"/>
                        </div>
                        <div  id="verifyEmail" style="font-size: 12px;"*ngIf="verificationResponse" [ngStyle]="{'color': isError ? 'red':''}">{{verificationResponse}}
                            
                        </div>
                    </div>
                    <!-- row -->
                    <br />

                    <!-- remeber me check box and Get otp button section -->
                    <div class="col-sm-12" style="text-align: center;">
                        <button class="btn btn-primary" [disabled]="isError"style="width: 280px;" (click)="constructOtp()">Get
                            OTP</button>
                    </div>
                    <!-- col -->
                    <br />
                    <div class="row">
                        <div class="col-sm-12" style="text-align: center;">
                            <a class="loginLink" routerLink="/login">Back to Login</a>
                        </div>
                    </div>
                </div>
                <!-- first column div end --- section  where login info is present -->

                <div class="col-sm-6" style="text-align: center;" id="content-pad-col-2">
                    <!-- ums-logo reusable component -->
                    <app-ums-logo id="logoScreen"></app-ums-logo>
                </div>
                <!-- 2nd column div end -- section page where large Logo is visible -->
            </div>
            <!-- row -->
        </div>
        <!-- content pad div -->
    </div>
    <!-- container div -->
</body>

</html>