@media screen and (min-width: 480px) {
  #resetPasswordScreen {
    width: 580px;
    float: left;
    padding-left: 40px;
  }

  #logoScreen {
    margin-left: 216px;
  }
}

.customPadding {
  padding-top: 160px;
}

#rememberme {
  width: 16px;
  height: 16px;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  appearance: inherit;
  border: 1px solid #2AA3D9;
  border-radius: 4px;
}

#content-pad-1 {
  padding-top: 60px;
}

#content-pad-2 {
  padding-top: 110px;
}

#loginNavBar {
  /* width: 1920px; */
  height: 60px;
  flex-shrink: 0;
}

#passwordHeading {

  color: var(--primary-text, #202224);
  /* Display Medium */
  font-family: sans-serif;
  font-size: 55px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;

}

.group {
  position: relative;
}

.group>label {
  padding: 0 0.2em;
  position: absolute;
  top: -0.7em;
  left: 1.5em;
  background-color: white;
}

.group>input {
  padding: 0.8em;
  border-radius: 0.5em;
  border: 2px solid lightblue;
  outline: none;
}

#newPassword {
  height: 60px;
  align-self: stretch;
  border-color: #2AA3D9;
  display: inline-block;

}

#confirmPassword {
  height: 60px;
  align-self: stretch;
  border-color: #2AA3D9;

}
#verifyPassword{
    
  padding-left: 80px;
  padding-top: 5px;
}

/* #parent {
    position: relative;
    top: 0;
    left: 0;
  }
  #image-1 {
    position: relative;
    top: 0;
    left: 0;
    
  }
  #image-2 {
    position: absolute;
    top: -22px;
    left: -10px;
    opacity: 0.08;
  }
  
  #image-3 {
    position: relative;
    top: 0;
    left: 0;
    
  }
  #image-4 {
    position: absolute;
    top: -85px;
    left: -8px;
    opacity: 0.08;
  }
  
  #image-5 {
    position: relative;
    top: 0;
    left: 0;
    
  }
  #image-6 {
    position: absolute;
    top: -86px;
    right: -22px;
    opacity: 0.08;
  } */