<html>

<body>
    <div class="container-fluid py-0 px-0 my-0 mx-0">
        <!-- reusable component -- login-navbar -->
        <div>
            <app-login-navbar></app-login-navbar>
        </div>

        <div>
            <!-- <div class="row justify-content-center">
                        <div class="col-sm-6">
                            <label class="" id="loginHeading">Login</label>
                        </div>
                    </div> -->
            <!-- row -->
            <br />
            <div class="row justify-content-center">
                <div class="col-sm-6" id="resetPasswordScreen">
                    <div class="col-sm-12" id="content-pad-1" style="text-align: center;">
                        <label id="passwordHeading">Set New Password</label>
                    </div>
                    <!-- col -->
                    <br />
                    <div class="row justify-content-center my-2">
                        <div id="nPasswordDiv" class="col-sm-9">
                            <label id="nPasswordLabel">New Password</label>
                            <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" placeholder="New Password"
                                class="form-control" (click)="setupNewPasswordInputPlaceholder()" (keyup)="setNewPassword($event)"/>
                        </div>
                        <div id="verifyPassword" style="font-size: 12px;"[ngStyle]="{'color': result_value ? 'green':'red'}">{{passwordCriteria}}</div>
                      
                    </div>
                    <!-- row -->
                    <br />
                    <div class="row row justify-content-center my-2">
                        <div id="passwordDiv" class="col-sm-9">
                            <label id="passwordLabel">Confirm Password</label>
                            <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword"
                                placeholder="Confirm Password" class="form-control"
                                (click)="setupConfirmPasswordInputPlaceholder()" (keyup)="setConfirmPassword($event)" />
                        </div>
                        <div id="verifyPassword" style="font-size: 12px;" [ngStyle]="{'color': isUpdate ? 'red':''}">{{verificationResponse}}</div>
                    </div>
                    <!-- row -->
                    <br />
                    <div class="col-sm-12" style="text-align: center;">
                        <button class="btn btn-primary" style="width: 240px;" [disabled]="isUpdate" (click)="updatePassword()">Reset Password</button>
                    </div>
                </div>
                <!-- first column div end --- section  where login info is present -->

                <div class="col-sm-6" style="text-align: center;" id="content-pad-2">
                    <!-- ums-logo reusable component -->
                    <app-ums-logo id="logoScreen"></app-ums-logo>
                </div>
                <!-- 2nd column div end -- section page where large Logo is visible -->
            </div>
            <!-- row -->
        </div>
        <!-- content pad div -->
    </div>
    <!-- container div -->
</body>

</html>