@media screen and (min-width: 480px) {
    #verifyOtpScreen {
        width: 580px;
        float: left;
        padding-left: 40px;
    }

    #logoScreen {
        margin-left: 216px;
    }
}

#rememberme {
    width: 16px;
    height: 16px;
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    appearance: inherit;
    border: 1px solid #2AA3D9;
    border-radius: 4px;
}

#imageLogoText {
    color: var(--brand-color-3, #EF7426);
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

#content-pad-col-1 {
    padding-top: 60px;
}

#content-pad-col-2 {
    padding-top: 110px;
}

#loginNavBar {
    /* width: 1920px; */
    height: 80px;
    flex-shrink: 0;
}

#loginHeading {

    color: var(--primary-text, #202224);
    /* Display Medium */
    font-family: sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;

}

#otp {
    height: 60px;
    align-self: stretch;
    border-color: #2AA3D9;
}

.group {
    position: relative;
}

.group>label {
    padding: 0 0.2em;
    position: absolute;
    top: -0.7em;
    left: 1.5em;
    background-color: white;
}

.group>input {
    padding: 0.8em;
    border-radius: 0.5em;
    /* border: 2px solid lightblue; */
    outline: none;
}

.loginLink {
    flex-shrink: 0;
    color: #74c4e8;
    font-size: 15px;
}

a:link {
    text-decoration: none;
}

#resendOtpLink{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

#resendOtpLink:hover{
    color: darkblue;
}
